# Part 1

In [1]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter

data_url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQN3Ksa9szQuO4G1-msXWAp17KtVHQCBnuEieu_auu1wSiBf3-krHusIx5VBMkihxj-KZLBosDIGEyR/pub?output=csv"
df = pd.read_csv(data_url)
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0,255517.0,...,741586.0,745686.0,750578.0,756734.0,762321.0,768797.0,773944.0,777692.0,779960.0,781622.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0,234401.0,...,924019.0,928991.0,937936.0,953874.0,973168.0,990391.0,992337.0,992630.0,978196.0,966595.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0,109079.0,...,245783.0,248718.0,252080.0,256435.0,261101.0,265558.0,268901.0,271059.0,272400.0,272639.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0,166536.0,...,302821.0,305104.0,306404.0,308303.0,309649.0,312487.0,314663.0,315910.0,315587.0,315429.0
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,114794.0,114975.0,...,269323.0,274032.0,278464.0,284127.0,289739.0,294776.0,297727.0,298796.0,299124.0,298951.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22462,236350,28439,Palisades,city,TX,TX,"Amarillo, TX",Randall County,NaN,NaN,...,198490.0,198467.0,196420.0,192002.0,191634.0,189383.0,191134.0,191343.0,192384.0,192110.0
22463,40403,28439,Port Mansfield,city,TX,TX,"Raymondville, TX",Willacy County,NaN,NaN,...,229251.0,232984.0,238245.0,240154.0,242470.0,243119.0,249098.0,255572.0,261910.0,264685.0
22464,54740,28439,Tribes Hill,city,NY,NY,"Amsterdam, NY",Montgomery County,53380.0,53662.0,...,132490.0,134951.0,137470.0,137430.0,137413.0,137615.0,138908.0,140096.0,141573.0,142438.0
22465,249186,28439,Derby Center,city,VT,VT,NaN,Orleans County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,258191.0,261607.0,264571.0,266255.0
22466,42575,28439,Quinwood,city,WV,WV,NaN,Greenbrier County,NaN,NaN,...,38005.0,38210.0,38186.0,38205.0,38308.0,38845.0,38847.0,39158.0,38956.0,40331.0

In [2]:
largest_cities_df = df[df['SizeRank'].isin([0, 1, 2, 3])]
largest_cities_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0,255517.0,...,741586.0,745686.0,750578.0,756734.0,762321.0,768797.0,773944.0,777692.0,779960.0,781622.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0,234401.0,...,924019.0,928991.0,937936.0,953874.0,973168.0,990391.0,992337.0,992630.0,978196.0,966595.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0,109079.0,...,245783.0,248718.0,252080.0,256435.0,261101.0,265558.0,268901.0,271059.0,272400.0,272639.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0,166536.0,...,302821.0,305104.0,306404.0,308303.0,309649.0,312487.0,314663.0,315910.0,315587.0,315429.0

In [3]:
id_cols = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State', 'Metro', 'CountyName']

In [4]:
df = pd.melt(largest_cities_df,id_vars=id_cols, value_name='Typical Home Value', var_name='Month')
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,Month,Typical Home Value
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,253690.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2000-01-31,234181.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,109068.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2000-01-31,166139.0
4,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-02-29,255517.0
...,...,...,...,...,...,...,...,...,...,...
1087,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-08-31,315587.0
1088,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2022-09-30,781622.0
1089,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2022-09-30,966595.0
1090,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2022-09-30,272639.0
1091,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-09-30,315429.0

In [5]:
df['Month'] = pd.to_datetime(df['Month'], format='%Y-%m')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092 entries, 0 to 1091
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RegionID            1092 non-null   int64
 1   SizeRank            1092 non-null   int64
 2   RegionName          1092 non-null   object
 3   RegionType          1092 non-null   object
 4   StateName           1092 non-null   object
 5   State               1092 non-null   object
 6   Metro               1092 non-null   object
 7   CountyName          1092 non-null   object
 8   Month               1092 non-null   datetime64[ns]
 9   Typical Home Value  1087 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 85.4+ KB

In [6]:
df.set_index('Month', inplace=True)
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,Typical Home Value
Month,,,,,,,,,
2000-01-31,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0
2000-01-31,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0
2000-01-31,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0
2000-01-31,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0
2000-02-29,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,255517.0
...,...,...,...,...,...,...,...,...,...
2022-08-31,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,315587.0
2022-09-30,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,781622.0
2022-09-30,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,966595.0
2022-09-30,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,272639.0
2022-09-30,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,315429.0

In [7]:
df.index

DatetimeIndex(['2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-02-29', '2000-02-29', '2000-02-29', '2000-02-29',
               '2000-03-31', '2000-03-31',
               ...
               '2022-07-31', '2022-07-31', '2022-08-31', '2022-08-31',
               '2022-08-31', '2022-08-31', '2022-09-30', '2022-09-30',
               '2022-09-30', '2022-09-30'],
              dtype='datetime64[ns]', name='Month', length=1092, freq=None)

In [8]:
df_ts = df.groupby('Metro').resample('M').first()
df_ts

                                                  RegionID  SizeRank  \
Metro                                 Month
Chicago-Naperville-Elgin, IL-IN-WI    2000-01-31     17426         3
                                      2000-02-29     17426         3
                                      2000-03-31     17426         3
                                      2000-04-30     17426         3
                                      2000-05-31     17426         3
...                                                    ...       ...
New York-Newark-Jersey City, NY-NJ-PA 2022-05-31      6181         0
                                      2022-06-30      6181         0
                                      2022-07-31      6181         0
                                      2022-08-31      6181         0
                                      2022-09-30      6181         0

                                                 RegionName RegionType  \
Metro                                 Month
Chicago-Naperville-Elgin, IL-IN-WI    2000-01-31    Chicago       city
                                      2000-02-29    Chicago       city
                                      2000-03-31    Chicago       city
                                      2000-04-30    Chicago       city
                                      2000-05-31    Chicago       city
...                                                     ...        ...
New York-Newark-Jersey City, NY-NJ-PA 2022-05-31   New York       city
                                      2022-06-30   New York       city
                                      2022-07-31   New York       city
                                      2022-08-31   New York       city
                                      2022-09-30   New York       city

                                                 StateName State  \
Metro                                 Month
Chicago-Naperville-Elgin, IL-IN-WI    2000-01-31        IL    IL
                                      2000-02-29        IL    IL
                                      2000-03-31        IL    IL
                                      2000-04-30        IL    IL
                                      2000-05-31        IL    IL
...                                                    ...   ...
New York-Newark-Jersey City, NY-NJ-PA 2022-05-31        NY    NY
                                      2022-06-30        NY    NY
                                      2022-07-31        NY    NY
                                      2022-08-31        NY    NY
                                      2022-09-30        NY    NY

                                                                                  Metro  \
Metro                                 Month
Chicago-Naperville-Elgin, IL-IN-WI    2000-01-31     Chicago-Naperville-Elgin, IL-IN-WI
                                      2000-02-29     Chicago-Naperville-Elgin, IL-IN-WI
                                      2000-03-31     Chicago-Naperville-Elgin, IL-IN-WI
                                      2000-04-30     Chicago-Naperville-Elgin, IL-IN-WI
                                      2000-05-31     Chicago-Naperville-Elgin, IL-IN-WI
...                                                                                 ...
New York-Newark-Jersey City, NY-NJ-PA 2022-05-31  New York-Newark-Jersey City, NY-NJ-PA
                                      2022-06-30  New York-Newark-Jersey City, NY-NJ-PA
                                      2022-07-31  New York-Newark-Jersey City, NY-NJ-PA
                                      2022-08-31  New York-Newark-Jersey City, NY-NJ-PA
                                      2022-09-30  New York-Newark-Jersey City, NY-NJ-PA

                                                     CountyName  \
Metro                                 Month
Chicago-Naperville-Elgin, IL-IN-WI    2000-01-31    Cook County
                                      2000-02-29    Cook County
                                      2000-03-31    Cook County
                                      2000-04-30    Cook County
                                      2000-05-31    Cook County
...                                                         ...
New York-Newark-Jersey City, NY-NJ-PA 2022-05-31  Queens County
                                      2022-06-30  Queens County
                                      2022-07-31  Queens County
                                      2022-08-31  Queens County
                                      2022-09-30  Queens County

                                                  Typical Home Value
Metro                                 Month
Chicago-Naperville-Elgin, IL-IN-WI    2000-01-31            166139.0
                                      2000-02-29            166536.0
                                      2000-03-31            167368.0
                                      2000-04-30            168826.0
                                      2000-05-31            170499.0
...                                                              ...
New York-Newark-Jersey City, NY-NJ-PA 2022-05-31            768797.0
                                      2022-06-30            773944.0
                                      2022-07-31            777692.0
                                      2022-08-31            779960.0
                                      2022-09-30            781622.0

[1092 rows x 9 columns]

# Part 2

In [9]:
df_unstacked = df_ts.unstack()
df_unstacked

                                        RegionID                        \
Month                                 2000-01-31 2000-02-29 2000-03-31
Metro
Chicago-Naperville-Elgin, IL-IN-WI         17426      17426      17426
Houston-The Woodlands-Sugar Land, TX       39051      39051      39051
Los Angeles-Long Beach-Anaheim, CA         12447      12447      12447
New York-Newark-Jersey City, NY-NJ-PA       6181       6181       6181

                                                                        \
Month                                 2000-04-30 2000-05-31 2000-06-30
Metro
Chicago-Naperville-Elgin, IL-IN-WI         17426      17426      17426
Houston-The Woodlands-Sugar Land, TX       39051      39051      39051
Los Angeles-Long Beach-Anaheim, CA         12447      12447      12447
New York-Newark-Jersey City, NY-NJ-PA       6181       6181       6181

                                                                        \
Month                                 2000-07-31 2000-08-31 2000-09-30
Metro
Chicago-Naperville-Elgin, IL-IN-WI         17426      17426      17426
Houston-The Woodlands-Sugar Land, TX       39051      39051      39051
Los Angeles-Long Beach-Anaheim, CA         12447      12447      12447
New York-Newark-Jersey City, NY-NJ-PA       6181       6181       6181

                                                  ... Typical Home Value  \
Month                                 2000-10-31  ...         2021-12-31
Metro                                             ...
Chicago-Naperville-Elgin, IL-IN-WI         17426  ...           302821.0
Houston-The Woodlands-Sugar Land, TX       39051  ...           245783.0
Los Angeles-Long Beach-Anaheim, CA         12447  ...           924019.0
New York-Newark-Jersey City, NY-NJ-PA       6181  ...           741586.0

                                                                        \
Month                                 2022-01-31 2022-02-28 2022-03-31
Metro
Chicago-Naperville-Elgin, IL-IN-WI      305104.0   306404.0   308303.0
Houston-The Woodlands-Sugar Land, TX    248718.0   252080.0   256435.0
Los Angeles-Long Beach-Anaheim, CA      928991.0   937936.0   953874.0
New York-Newark-Jersey City, NY-NJ-PA   745686.0   750578.0   756734.0

                                                                        \
Month                                 2022-04-30 2022-05-31 2022-06-30
Metro
Chicago-Naperville-Elgin, IL-IN-WI      309649.0   312487.0   314663.0
Houston-The Woodlands-Sugar Land, TX    261101.0   265558.0   268901.0
Los Angeles-Long Beach-Anaheim, CA      973168.0   990391.0   992337.0
New York-Newark-Jersey City, NY-NJ-PA   762321.0   768797.0   773944.0


Month                                 2022-07-31 2022-08-31 2022-09-30
Metro
Chicago-Naperville-Elgin, IL-IN-WI      315910.0   315587.0   315429.0
Houston-The Woodlands-Sugar Land, TX    271059.0   272400.0   272639.0
Los Angeles-Long Beach-Anaheim, CA      992630.0   978196.0   966595.0
New York-Newark-Jersey City, NY-NJ-PA   777692.0   779960.0   781622.0

[4 rows x 2457 columns]

# 1) Which City had the highest Typical Home Value at the end of 2008? Which had the least?

# 2) How much did the home values change from November 2008 to December 2008 (in dollars)?